*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Visby CF";
  src: url(../assets/fonts/VisbyCF-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Visby CF";
  src: url(../assets/fonts/VisbyCF-Medium.ttf) format("truetype");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Visby CF";
  src: url(../assets/fonts/VisbyCF-Bold.ttf) format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Visby CF";
  src: url(../assets/fonts/VisbyCF-ExtraBold.ttf) format("truetype");
  font-display: swap;
  font-weight: 800;
}
@font-face {
  font-family: "Visby CF";
  src: url(../assets/fonts/VisbyCF-Heavy.ttf) format("truetype");
  font-display: swap;
  font-weight: 900;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Visby CF", "sans-serif";
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  background-color: #fbfeff;
  overflow-x: hidden;
}
@media only screen and (max-width: 40em) {
  body {
    overflow-x: hidden;
  }
}
body .scroll_container {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #6ccbf3;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 58%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.header .menu-icon {
  display: none;
}
.header__logo {
  margin-left: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .header__logo {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 40em) {
  .header__logo {
    margin-left: 2rem;
    margin-right: 6rem;
  }
}
.header__logo p {
  font-size: 4rem;
  font-family: "Paytone One";
  color: #071831;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .header__logo p {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 40em) {
  .header__logo p {
    font-size: 2.8rem;
  }
}
.header__logo p a {
  color: inherit;
  text-decoration: none;
}
.header__nav ul {
  list-style: none;
  display: flex;
  transition: none;
  width: 100%;
  padding: 0;
}
@media only screen and (max-width: 40em) {
  .header__nav ul {
    align-self: flex-start;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(0.63, 0, 0.25, 1);
  }
}
.header__nav-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
  cursor: pointer;
}
.header__nav-item a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Visby CF";
  font-weight: 700;
  color: inherit;
}
.header__nav-item:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #002c3f;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header__nav-item:hover:before, .header__nav-item:focus:before, .header__nav-item:active:before {
  right: 0;
}
.header__nav-item:not(:last-child) {
  margin-right: 2rem;
}
.header__nav #menu-btn {
  display: none;
}
@media only screen and (max-width: 40em) {
  .header .menu-icon {
    cursor: pointer;
    padding: 28px 80px;
    position: relative;
    user-select: none;
    display: flex;
    margin-left: 5rem !important;
  }
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  .header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  .header .menu-btn:checked ~ ul {
    width: 100%;
    max-height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

.hero_section-content {
  width: 85%;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-content {
    width: 100%;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-content {
    width: 100%;
  }
}
.hero_section-content h1 {
  font-size: 7rem;
  font-family: "Visby CF";
  font-weight: 900;
  line-height: 1;
  color: #071831;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-content h1 {
    font-size: 5rem;
    text-align: left;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-content h1 {
    font-size: 3.6rem;
    text-align: center;
  }
}
.hero_section-content p {
  width: 95%;
  font-size: 2rem;
  line-height: 1.4;
  margin: 2rem 0;
  text-align: left;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-content p {
    font-size: 1.8rem;
    width: 100%;
    margin: 2rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-content p {
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    margin: 2rem auto;
  }
}
.hero_section-left {
  margin-left: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-left {
    margin-left: 4rem;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-left {
    margin-left: 0rem;
  }
}
.hero_section-left button,
.hero_section-left button:focus,
.hero_section-left button:active {
  padding: 1.5rem 5rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 800;
  color: #dcf5ff;
  background: #002c3f;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  margin-top: 1rem;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-left button,
.hero_section-left button:focus,
.hero_section-left button:active {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    align-self: flex-start;
    text-align: left;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-left button,
.hero_section-left button:focus,
.hero_section-left button:active {
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    align-self: center;
    align-items: center;
    margin-top: 0.5rem;
  }
}
.hero_section-left button:hover,
.hero_section-left button:focus:hover,
.hero_section-left button:active:hover {
  background: #002c3f;
}
.hero_section-left button a,
.hero_section-left button:focus a,
.hero_section-left button:active a {
  text-decoration: none;
  color: #dcf5ff;
}
.hero_section-right .hero__image {
  width: 72rem;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-right .hero__image {
    width: 100%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 40em) {
  .hero_section-right .hero__image {
    max-width: calc(100vw - 5rem);
    margin: 2rem auto;
  }
}
.hero_section-right .hero__image img {
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .hero_section-right .hero__image img {
    object-fit: cover;
    object-position: center;
  }
}

.business_goals {
  position: relative;
  overflow-x: hidden;
}
.business_goals .about {
  position: relative;
  flex: 1;
  z-index: 10;
}
.business_goals .about .pattern-dots-lg {
  position: absolute;
  top: 0;
  transform: translate(-8rem, -6rem);
  width: 30rem;
  height: 30rem;
  color: #002c3f;
  z-index: -1;
}
@media only screen and (max-width: 56.25em) {
  .business_goals .about .pattern-dots-lg {
    width: 35rem;
    height: 25rem;
    transform: translate(-2rem, -4rem);
  }
}
@media only screen and (max-width: 40em) {
  .business_goals .about .pattern-dots-lg {
    width: 25rem;
    height: 20rem;
    transform: translate(-2rem, 3rem);
  }
}
.business_goals .about h3 {
  width: 100%;
  font-size: 4.2rem;
  font-weight: 900;
  margin-left: 6rem;
  margin-bottom: 0;
  color: #071831;
}
@media only screen and (max-width: 56.25em) {
  .business_goals .about h3 {
    width: 100%;
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .business_goals .about h3 {
    width: 100%;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }
}
.business_goals .about-description {
  width: 50vw;
  background: #6ccbf3;
  box-shadow: 0px 3px 18px -3px #dedede;
  padding: 4rem;
  z-index: 100;
}
@media only screen and (max-width: 56.25em) {
  .business_goals .about-description {
    width: 95%;
    margin: 2rem auto;
    padding: 3.5rem;
  }
}
@media only screen and (max-width: 40em) {
  .business_goals .about-description {
    width: 100%;
    padding: 3rem 1.5rem;
    margin: 0.5rem auto;
  }
}
.business_goals .about-description h2 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.2;
}
@media only screen and (max-width: 56.25em) {
  .business_goals .about-description h2 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 40em) {
  .business_goals .about-description h2 {
    font-size: 2.4rem;
  }
}
.business_goals .about-description p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 2rem 0;
}
@media only screen and (max-width: 56.25em) {
  .business_goals .about-description p {
    font-size: 1.8rem;
    margin: 2rem 0;
  }
}
@media only screen and (max-width: 40em) {
  .business_goals .about-description p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 1rem 0;
  }
}
.business_goals .about-description .btn_secondary {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #0c2955;
  color: #feffff;
  padding: 1.5rem 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.business_goals .about-description .btn_secondary:hover {
  background-color: #071831;
}
.business_goals .about-description .btn_secondary a {
  text-decoration: none;
  color: #feffff;
}

.services_heading {
  width: 35%;
  margin: 4rem auto;
}
@media only screen and (max-width: 56.25em) {
  .services_heading {
    width: 50%;
    margin: 0rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .services_heading {
    width: 70%;
    margin: 1rem auto;
  }
}
.services_heading h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 6px dashed #002c3f;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .services_heading h1 {
    font-size: 3.8rem;
    border-bottom: 4px dashed #002c3f;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .services_heading h1 {
    font-size: 3rem;
    border-bottom: 2px dashed #002c3f;
    padding-bottom: 0.4rem;
  }
}
.services .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-shadow: 0px 3px 18px -3px #dedede;
  background: white;
  border-radius: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .services .card {
    width: 31%;
    margin: 0 auto;
    padding: 4rem 1rem;
  }
}
@media only screen and (max-width: 40em) {
  .services .card {
    width: 94%;
    margin: 0rem auto 2rem auto;
    box-shadow: 0px 3px 14px -3px rgba(222, 222, 222, 0.7);
    padding: 4rem 2rem;
  }
}
.services .card:nth-child(2) {
  transform: translateY(6rem);
}
@media only screen and (max-width: 56.25em) {
  .services .card:nth-child(2) {
    transform: translateY(0rem);
  }
}
@media only screen and (max-width: 40em) {
  .services .card:nth-child(2) {
    transform: translateY(0rem);
  }
}
.services .card:nth-child(3) {
  transform: translateY(12rem);
}
@media only screen and (max-width: 56.25em) {
  .services .card:nth-child(3) {
    transform: translateY(0rem);
  }
}
@media only screen and (max-width: 40em) {
  .services .card:nth-child(3) {
    transform: translateY(0rem);
  }
}
.services .card_icon {
  height: 20%;
  margin: 0;
}
.services .card_icon img {
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .services .card_icon {
    height: 20%;
  }
}
@media only screen and (max-width: 40em) {
  .services .card_icon {
    height: 20%;
    margin: 1rem auto 2rem auto;
  }
}
.services .card h3 {
  width: 100%;
  text-align: center;
  font-weight: 900;
}
.services .card p {
  line-height: 1.4;
  font-weight: 500;
  margin-top: 1rem;
  align-self: flex-start;
  text-align: center;
  font-size: 1.8rem;
}
.services .card .btn_tertiary {
  padding: 1rem;
  border: none;
  outline: none;
  font: inherit;
  display: flex;
  place-content: center;
  place-items: center;
  background: #6ccbf3;
  border-radius: 50%;
  margin-top: 1rem;
  cursor: pointer;
}
.services .card .btn_tertiary:hover {
  background: #002c3f;
}
.services .card .btn_tertiary .icon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
}

.team_profiles .card {
  width: 23%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0px 3px 18px -3px #dedede;
  background-color: #feffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .team_profiles .card {
    width: 47%;
    height: 100%;
    margin: 1rem auto 2rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .team_profiles .card {
    width: 90%;
    margin: 1rem auto 2rem auto;
  }
}
.team_profiles .card_image {
  flex: 1;
}
@media only screen and (max-width: 40em) {
  .team_profiles .card_image {
    flex: 1;
  }
}
.team_profiles .card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.team_profiles .card_body {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.team_profiles .card_body-title {
  margin-bottom: 0.5rem;
}
.team_profiles .card_body-title h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.mission div {
  margin-top: 6rem;
}
.mission div .slide-item > div:last-of-type {
  padding: 0 30px;
}
.mission div .slide-item > div:last-of-type .item-header {
  margin-bottom: 24px;
}
.mission div .slide-item > div:last-of-type .item-header > h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.4rem;
}
.mission div .slide-item > div:last-of-type .item-header > span {
  font-size: 1.4rem;
  font-weight: 900;
}
.mission div .slide-item > div:last-of-type p {
  line-height: 1.6;
  font-size: 1.8rem;
}

.footer_nav {
  margin: 3rem 0;
}
@media only screen and (max-width: 40em) {
  .footer_nav {
    margin: 1rem 0;
  }
}
.footer_nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 40em) {
  .footer_nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer_nav ul li {
  margin-top: 1rem;
}
.footer_nav ul li a {
  font-size: 1.8rem;
}
@media only screen and (max-width: 40em) {
  .footer_nav ul li a {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 40em) {
  .footer_nav ul li {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }
}
.footer_logo p {
  font-size: 4rem;
  font-family: "Paytone One";
  color: #feffff;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 40em) {
  .footer_logo p {
    font-size: 2.4rem;
    margin-bottom: 0rem;
    margin-right: 1rem;
  }
}
.footer_right {
  margin-top: 2rem;
}
@media only screen and (max-width: 40em) {
  .footer_right {
    margin-top: 6rem;
  }
}
.footer_right h1 {
  border-bottom: 4px solid #6ccbf3;
  padding-bottom: 0.8rem;
  font-size: 2.4rem;
  margin-top: 0;
}
@media only screen and (max-width: 40em) {
  .footer_right h1 {
    font-size: 1.8rem;
    border-bottom: 2px solid #6ccbf3;
    padding-bottom: 0.4rem;
    margin-top: 3rem;
  }
}
.footer_right .contact_details {
  margin-top: 1.5rem;
}
.footer_right .contact_details p {
  font-size: 2rem;
  margin-top: 2.5rem;
  line-height: 1.4;
}
@media only screen and (max-width: 40em) {
  .footer_right .contact_details p {
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }
}
.footer_right .social_links {
  display: flex;
  margin-top: 4rem;
}
@media only screen and (max-width: 40em) {
  .footer_right .social_links {
    display: flex;
    margin-top: 1rem;
  }
}
.footer_right .social_links .social_icon img {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 40em) {
  .footer_right .social_links .social_icon img {
    margin-right: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}
.footer .copyright p {
  font-size: 1.8rem;
  line-height: 1.4;
  text-align: left;
}
@media only screen and (max-width: 40em) {
  .footer .copyright p {
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: center;
    margin-top: 1rem;
  }
}

.jumbotron .about {
  background-color: #dcf5ff !important;
}

.jumbotron {
  width: 95%;
  height: 60vh;
  margin: 8rem auto 2rem auto;
  background: #dcf5ff;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;
}
@media only screen and (max-width: 56.25em) {
  .jumbotron {
    height: 30vh;
    margin: 6rem auto 2rem auto;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 40em) {
  .jumbotron {
    height: 20vh;
    margin: 8rem auto 2rem auto;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 40em) {
  .jumbotron {
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: top;
  }
}
.jumbotron h1 {
  font-size: 6rem;
  font-family: "Paytone One";
}
@media only screen and (max-width: 56.25em) {
  .jumbotron h1 {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 40em) {
  .jumbotron h1 {
    font-size: 3.2rem;
  }
}

.intro {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.intro p {
  font-size: 2.4rem;
  text-align: center;
  width: 60%;
  line-height: 1.4;
}
@media only screen and (max-width: 56.25em) {
  .intro p {
    font-size: 2rem;
    width: 90%;
  }
}
@media only screen and (max-width: 40em) {
  .intro p {
    font-size: 1.8rem;
    line-height: 1.6;
    width: 90%;
  }
}

.contact_section-heading {
  width: 41%;
  margin: 4rem auto 0.5rem auto;
}
@media only screen and (max-width: 56.25em) {
  .contact_section-heading {
    width: 75%;
    margin: 4rem auto 0.5rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .contact_section-heading {
    width: 60vw;
    margin: 4rem auto 0.5rem auto;
  }
}
.contact_section-heading h1 {
  font-size: 4.2rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 6px dashed #002c3f;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .contact_section-heading h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 40em) {
  .contact_section-heading h1 {
    font-size: 2.4rem;
    border-bottom: 3px dashed #002c3f;
    padding-bottom: 0.5rem;
  }
}
.contact_section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0rem auto 2rem auto;
  padding: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .contact_section-form {
    width: 90%;
  }
}
@media only screen and (max-width: 40em) {
  .contact_section-form {
    width: 95%;
  }
}
.contact_section-form--input {
  width: 80%;
  padding: 1rem 2rem;
  outline: none;
  background: transparent;
  border: 1px solid #dfdfdf;
  border-radius: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 3rem;
  color: white;
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 56.25em) {
  .contact_section-form--input {
    width: 90%;
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 40em) {
  .contact_section-form--input {
    width: 95%;
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}
.contact_section-form .btn_secondary {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: #952020;
  color: #feffff;
  padding: 1.5rem 3rem;
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.contact_section-form .btn_secondary:hover {
  background-color: #952020;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.main .header {
  width: 100%;
  margin: 0;
  background: #feffff;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 800;
  overflow-x: hidden;
  box-shadow: 0px 3px 5px 0px rgba(209, 209, 209, 0.57);
}
@media only screen and (max-width: 56.25em) {
  .main .header {
    max-width: 100%;
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 40em) {
  .main .header {
    max-width: 100%;
    padding: 0 2rem;
  }
}
.main .hero_section {
  margin: 13rem 0;
  padding: 2rem 6rem;
  display: flex;
  justify-content: start;
  overflow-x: hidden;
}
@media only screen and (max-width: 56.25em) {
  .main .hero_section {
    padding: 2rem 4rem;
    margin: 10rem auto 6rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .main .hero_section {
    padding: 1rem 2rem;
    margin: 4rem auto 10rem auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
.main .hero_section-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main .hero_section-right {
  width: 50%;
}
@media only screen and (max-width: 56.25em) {
  .main .hero_section-right {
    width: 50vw;
  }
}
@media only screen and (max-width: 40em) {
  .main .hero_section-right {
    width: 100%;
  }
}

.business_goals {
  width: 90%;
  padding: 8rem 6rem;
  display: flex;
  flex-wrap: nowrap;
  margin: 0.5rem auto 6rem auto;
  border-radius: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .business_goals {
    padding: 3rem 3rem;
    flex-wrap: wrap;
    width: 95%;
    margin: 0.5rem auto 2rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .business_goals {
    padding: 2rem 2rem;
    flex-wrap: wrap;
    width: 98%;
    margin: 0.5rem auto 1rem auto;
  }
}

.services {
  width: 85%;
  margin: 0.5rem auto 6rem auto;
  display: flex;
  flex-direction: column;
  padding: 6rem 10rem;
}
@media only screen and (max-width: 56.25em) {
  .services {
    width: 100%;
    margin: 0.5rem auto 4rem auto;
    padding: 4rem 1rem;
  }
}
@media only screen and (max-width: 40em) {
  .services {
    width: 100%;
    margin: 0.5rem auto 4rem auto;
    padding: 3rem 2rem;
  }
}
.services .showcase {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .services .showcase {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 40em) {
  .services .showcase {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.mission {
  width: 90%;
  height: 90rem;
  background: #f5fdff;
  margin: 15rem auto 6rem auto;
  padding: 10rem 8rem;
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 4rem auto 8rem auto;
}
.mission_header {
  text-align: center;
  font-size: 4.2rem;
  font-weight: 900;
  font-family: "Paytone One";
}
.mission .slide {
  margin-bottom: 4rem;
  margin-top: -8rem;
}
.mission .slide-item {
  display: flex;
  width: 100%;
}
.mission .slide-item > div {
  width: 50%;
  height: 64vh;
}
.mission .slide-item > div img {
  width: 50rem;
  object-fit: cover;
  margin-left: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .mission {
    clip-path: none;
  }
}
@media only screen and (max-width: 40em) {
  .mission {
    clip-path: none;
    width: 95%;
    margin: 2rem auto 6rem auto;
    padding: 2rem 8rem;
  }
}

.team {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 10rem auto 12rem auto;
}
@media only screen and (max-width: 56.25em) {
  .team {
    height: auto;
  }
}
@media only screen and (max-width: 40em) {
  .team {
    height: auto;
  }
}
.team_heading {
  width: 35%;
  margin: 2rem auto;
}
@media only screen and (max-width: 56.25em) {
  .team_heading {
    width: 50%;
  }
}
@media only screen and (max-width: 40em) {
  .team_heading {
    width: 80%;
  }
}
.team_heading h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 6px dashed #002c3f;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .team_heading h1 {
    font-size: 3.6rem;
    border-bottom: 3px dashed #002c3f;
    padding-bottom: 0.4rem;
  }
}
@media only screen and (max-width: 40em) {
  .team_heading h1 {
    font-size: 4rem;
    border-bottom: 4px dashed #002c3f;
    padding-bottom: 0.4rem;
  }
}
.team .btn_secondary {
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: #952020;
  color: #feffff;
  padding: 1.5rem 5rem;
  align-self: center;
  margin-top: 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.team .btn_secondary:hover {
  background-color: #952020;
}
.team .btn_secondary a {
  text-decoration: none;
  color: #feffff;
}
.team_profiles {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .team_profiles {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 40em) {
  .team_profiles {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  width: 95vw;
  background: #071831;
  height: 70vh;
  padding: 6rem;
  border-radius: 2rem;
  margin: 8rem auto 2rem auto;
  display: flex;
  color: #feffff;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    width: 95vw;
    background: #071831;
    height: auto;
  }
}
@media only screen and (max-width: 40em) {
  .footer {
    width: 100%;
    background: #071831;
    height: auto;
    padding: 2rem 1.5rem;
    flex-direction: column;
    margin: 8rem auto 0 auto;
    border-radius: 0.2rem;
  }
}
.footer_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 40em) {
  .footer_left {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
.footer_right {
  width: 50%;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (max-width: 40em) {
  .footer_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0rem;
    margin: 1rem 0rem;
  }
}

.contact_section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #feffff;
  box-shadow: 0px 3px 18px -3px #dedede;
  border-radius: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .contact_section {
    width: 90%;
  }
}
@media only screen and (max-width: 40em) {
  .contact_section {
    width: 95%;
  }
}

.services_main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 6rem auto;
}
@media only screen and (max-width: 56.25em) {
  .services_main {
    width: 95%;
    margin: 2rem auto 1rem auto;
  }
}
@media only screen and (max-width: 40em) {
  .services_main {
    width: 95%;
    margin: 2rem auto 1rem auto;
  }
}
.services_main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 65vh;
  width: 100%;
  margin: 0rem 0 8rem 0;
}
@media only screen and (max-width: 56.25em) {
  .services_main-wrapper {
    width: 100%;
    margin: 0rem 0 8rem 0;
    height: 55vh;
  }
}
@media only screen and (max-width: 40em) {
  .services_main-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 18px -3px #dedede;
    margin: 0rem 0 4rem 0;
  }
}
@media only screen and (max-width: 40em) {
  .services_main-wrapper.reverse {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 40em) {
  .services_main-wrapper.feasibility {
    box-shadow: none;
  }
}

.services_left {
  width: 100%;
  height: 100%;
}
.services_left-image {
  width: 40rem;
  height: 40rem;
  margin-top: 1.5rem;
}
@media only screen and (max-width: 56.25em) {
  .services_left-image {
    width: 30rem;
    height: 30rem;
    align-self: center;
    justify-self: center;
    margin-right: 2rem;
    margin-left: 1rem;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 40em) {
  .services_left-image {
    width: 20rem;
    height: 20rem;
    align-self: center;
    margin: 0 auto;
  }
}
.services_left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services_right {
  padding: 0 4rem;
  box-shadow: 0px 3px 18px -3px #dedede;
}
@media only screen and (max-width: 56.25em) {
  .services_right {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .services_right {
    padding: 0 2rem;
    box-shadow: none;
  }
}
@media only screen and (max-width: 40em) {
  .services_right #more {
    display: none;
  }
}
.services_right h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.4rem;
}
@media only screen and (max-width: 56.25em) {
  .services_right h2 {
    font-size: 2rem;
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .services_right h2 {
    margin-top: 1.5rem;
    font-size: 2rem;
  }
}
.services_right p {
  line-height: 1.6;
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .services_right p {
    line-height: 1.6;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 40em) {
  .services_right p {
    line-height: 1.5;
    font-size: 1.8rem;
  }
}

.feasibility_left {
  width: 45%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .feasibility_left {
    width: 48%;
  }
}
@media only screen and (max-width: 40em) {
  .feasibility_left {
    width: 100%;
    align-self: flex-start;
    padding: 2rem;
    box-shadow: 0px 3px 18px -3px #dedede;
  }
}
@media only screen and (max-width: 40em) {
  .feasibility_left #more {
    display: none;
  }
}
.feasibility_left-image {
  width: 20rem;
  height: 20rem;
}
@media only screen and (max-width: 40em) {
  .feasibility_left-image {
    align-self: center;
  }
}
.feasibility_left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feasibility_left p {
  line-height: 1.8;
  font-size: 1.8rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 40em) {
  .feasibility_left p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}
.feasibility_left h2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.feasibility_right {
  width: 50%;
  box-shadow: 0px 3px 18px -3px #dedede;
  padding: 2rem 4rem;
}
@media only screen and (max-width: 56.25em) {
  .feasibility_right {
    padding: 2rem;
  }
}
@media only screen and (max-width: 40em) {
  .feasibility_right {
    width: 100%;
    padding: 2rem;
    margin: 2rem auto;
  }
}
.feasibility_right h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .feasibility_right h2 {
    margin-bottom: 1rem;
  }
}
.feasibility_right ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.feasibility_right ul li {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.feasibility_right ul li img {
  width: 3rem;
  margin-right: 2rem;
}

.services_header {
  border-top: 2px solid #fbfeff;
  border-left: 2px solid #fbfeff;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 40em) {
  .services_header {
    padding: 1rem;
    margin-top: 1rem;
  }
}
.services_header h2 {
  font-size: 4.2rem;
  font-weight: 900;
  font-family: "Paytone One";
}
@media only screen and (max-width: 40em) {
  .services_header h2 {
    font-size: 3rem;
    line-height: 1.1;
  }
}

.read_more {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #0c2955;
  color: #feffff;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: 0.3rem;
  display: none;
}
@media only screen and (max-width: 40em) {
  .read_more {
    display: block;
  }
}
.read_more:hover {
  background-color: #071831;
}

.ceo_profile {
  width: 90%;
  margin: 6rem auto 2rem auto;
  display: flex;
  flex-direction: column;
}
.ceo_profile-main {
  height: 90vh;
  display: flex;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.other_teams {
  width: 95%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
}
.other_teams-members {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 40em) {
  .other_teams-members {
    display: flex;
    flex-direction: column;
  }
}

.ceo_profile-header {
  border-top: 2px solid #fbfeff;
  border-left: 2px solid #fbfeff;
  padding: 2rem;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-header {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.ceo_profile-header h2 {
  font-size: 4.2rem;
  font-weight: 900;
  font-family: "Paytone One";
}
@media only screen and (max-width: 40em) {
  .ceo_profile-header h2 {
    font-size: 2.8rem;
    line-height: 1.2;
  }
}
.ceo_profile-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-left {
    width: 100%;
  }
}
.ceo_profile-image {
  width: 100%;
  height: 85%;
  margin-bottom: 1rem;
  border: 0.8rem solid #002c3f;
  overflow: hidden;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-image {
    width: 30rem;
    height: 30rem;
    margin: 1rem auto;
    border: 0.6rem solid #002c3f;
  }
}
.ceo_profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ceo_profile-details {
  flex: 1;
  padding: 0.4rem 1rem;
}
.ceo_profile-details h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-details h2 {
    font-size: 1.85rem;
  }
}
.ceo_profile-details p {
  margin-bottom: 0.5rem;
}
.ceo_profile-right {
  flex: 1;
  padding: 4rem;
  margin-left: 2rem;
  background: #feffff;
  box-shadow: 0px 3px 18px -3px #dedede;
}
@media only screen and (max-width: 40em) {
  .ceo_profile-right #more {
    display: none;
  }
}
@media only screen and (max-width: 40em) {
  .ceo_profile-right {
    box-shadow: none;
    padding: 1rem;
    margin: 1rem 0;
  }
}
.ceo_profile-right h2 {
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.ceo_profile-right h2 span {
  color: #002c3f;
}
.ceo_profile-right p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.other_teams-profile {
  width: 32%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  padding: 2rem;
}
@media only screen and (max-width: 40em) {
  .other_teams-profile {
    width: 95%;
    height: auto;
    box-shadow: 0px 3px 18px -3px #dedede;
    margin: 2rem auto;
  }
}
.other_teams-profile--image {
  width: 85%;
  height: 60%;
}
@media only screen and (max-width: 40em) {
  .other_teams-profile--image {
    width: 55%;
    height: 32%;
    margin: 2rem auto 1rem auto;
  }
}
.other_teams-profile--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  filter: grayscale(100);
  transition: all 0.2s;
}
@media only screen and (max-width: 40em) {
  .other_teams-profile--image img {
    border-radius: 50%;
  }
}
.other_teams-profile--image img:hover {
  filter: grayscale(0);
}
.other_teams-profile--details {
  width: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.other_teams-profile--details h2 {
  font-size: 2rem;
  font-weight: 900;
}
.other_teams-profile--details h3 {
  font-size: 1.8rem;
  text-align: center;
}
.other_teams-profile--details p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.4;
  margin-top: 2rem;
}

.about_main {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 6rem auto;
}
.about_main-wrapper {
  display: flex;
  justify-content: space-between;
  height: 82vh;
  width: 100%;
  margin: 0rem 0 8rem 0;
}
.about_mission-wrapper {
  display: flex;
  height: 70vh;
  background: #002c3f;
}
.about_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.about_cards > .card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experiences {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 4rem auto 8rem auto;
}
.experiences .slide-item {
  display: flex;
  width: 100%;
}
.experiences .slide-item > div {
  width: 50%;
  height: 64vh;
}
.experiences .slide-item > div img {
  width: 50rem;
  object-fit: cover;
  margin-left: 6rem;
}

.about_header {
  border-top: 2px solid #fbfeff;
  border-left: 2px solid #fbfeff;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.about_header h2 {
  font-size: 4.2rem;
  font-weight: 900;
  font-family: "Paytone One";
}

.about_left {
  width: 100%;
  height: 100%;
}
.about_left-image {
  width: 40rem;
  height: 40rem;
  margin-top: 1.5rem;
}
.about_left-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about_right, .about_cards {
  padding: 0 4rem;
  box-shadow: 0px 3px 18px -3px #dedede;
}
.about_right h2, .about_cards h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.4rem;
}
.about_right p, .about_cards p {
  line-height: 1.6;
  font-size: 1.8rem;
}
.about_cards {
  padding: 0;
}
.about_cards img {
  object-fit: cover;
}
.about_cards .card {
  text-align: center;
}
.about_cards .card p:first-of-type {
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.4rem;
  color: #feffff;
}
.about_cards .card.primary {
  color: #feffff;
  background-color: #071831;
}
.about_cards .card.accent {
  background-color: #002c3f;
  color: #071831;
}
.about_cards .card.accent p {
  color: #feffff;
}

.experiences .slide-item img {
  width: 100%;
  object-fit: cover;
}
.experiences .slide-item > div:last-of-type {
  padding: 0 14px;
}
.experiences .slide-item > div:last-of-type .item-header {
  margin-bottom: 24px;
}
.experiences .slide-item > div:last-of-type .item-header > h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 2.4rem;
}
.experiences .slide-item > div:last-of-type .item-header > span {
  font-size: 1.4rem;
  font-weight: 900;
}
.experiences .slide-item > div:last-of-type p {
  line-height: 1.6;
  font-size: 1.8rem;
}

/*# sourceMappingURL=style.css.map */
