.header {
  .menu-icon {
    display: none;
  }

  &__logo {
    margin-left: 6rem;

    @include respond(tab-port) {
      margin-left: 4rem;
    }

    @include respond(phone) {
      margin-left: 2rem;
      margin-right: 6rem;
    }

    p {
      font-size: 4rem;
      font-family: $font-header;
      color: $color-primary-dark;
      margin-bottom: 1rem;
      cursor: pointer;

      @include respond(tab-port) {
        font-size: 3.2rem;
      }

      @include respond(phone) {
        font-size: 2.8rem;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
      transition: none;
      width: 100%;
      padding: 0;

      @include respond(phone) {
        align-self: flex-start;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s cubic-bezier(0.63, 0, 0.25, 1);
        // padding-right: 6rem;
      }
    }

    &-item {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
      padding-bottom: 1rem;
      cursor: pointer;

      a {
        text-decoration: none;

        font-size: 1.8rem;
        font-family: $font-text;
        font-weight: 700;
        color: inherit;


      }

      &:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $color-accent-dark;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      &:hover:before,
      &:focus:before,
      &:active:before {
        right: 0;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }

    #menu-btn {
      display: none;
    }
  }

  @include respond(phone) {

    .menu-icon {
      cursor: pointer;
      padding: 28px 80px;
      position: relative;
      user-select: none;
      display: flex;
      margin-left: 5rem !important;
    }

    .menu-icon .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .menu-icon .navicon:before {
      top: 5px;
    }

    .menu-icon .navicon:after {
      top: -5px;
    }

    .menu-btn:checked~ul {
      width: 100%;
      max-height: 32rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 2rem;
    }

    .menu-btn:checked~.menu-icon .navicon {
      background: transparent;
    }

    .menu-btn:checked~.menu-icon .navicon:before {
      transform: rotate(-45deg);
    }

    .menu-btn:checked~.menu-icon .navicon:after {
      transform: rotate(45deg);
    }

    .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
      top: 0;
    }
  }


}

.hero {
  &_section {
    &-content {
      width: 85%;

      @include respond(tab-port) {
        width: 100%;
      }

      @include respond(phone) {
        width: 100%;
      }

      h1 {
        font-size: 7rem;
        font-family: $font-text;
        font-weight: 900;
        line-height: 1;
        color: $color-primary-dark;

        @include respond(tab-port) {
          font-size: 5rem;
          text-align: left;
        }

        @include respond(phone) {
          font-size: 3.6rem;
          text-align: center;
        }
      }

      p {
        width: 95%;
        font-size: 2rem;
        line-height: 1.4;
        margin: 2rem 0;
        text-align: left;

        @include respond(tab-port) {
          font-size: 1.8rem;
          width: 100%;
          margin: 2rem auto;
        }

        @include respond(phone) {
          font-size: 1.8rem;
          width: 100%;
          text-align: center;
          margin: 2rem auto;
        }

      }
    }

    &-left {
      margin-left: 4rem;

      @include respond(tab-port) {
        margin-left: 4rem;
      }

      @include respond(phone) {
        margin-left: 0rem;
      }

      button,
      button:focus,
      button:active {
        padding: 1.5rem 5rem;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 800;
        color: $color-accent-lighter;
        background: $color-accent-dark;
        border: none;
        outline: none;
        border-radius: 0.6rem;
        margin-top: 1rem;
        cursor: pointer;

        @include respond(tab-port) {
          padding: 1rem 4rem;
          font-size: 1.8rem;
          align-self: flex-start;
          text-align: left;
          margin-top: 1rem;
        }

        @include respond(phone) {
          padding: 1.5rem 4rem;
          font-size: 1.6rem;
          align-self: center;
          align-items: center;
          margin-top: .5rem;
        }

        &:hover {
          background: $color-accent-dark;
        }

        a {
          text-decoration: none;
          color: $color-accent-lighter;
        }
      }
    }

    &-right {
      // @include respond(tab-port) {
      //   display: none;
      // }

      // @include respond(phone) {
      //   display: none;
      // }

      .hero__image {
        width: 72rem;

        @include respond(tab-port) {
          width: 100%;
          margin: 0 auto;
        }

        @include respond(phone) {
          max-width: calc(100vw - 5rem);
          margin: 2rem auto;
        }

        img {
          width: 100%;
          object-fit: cover;

          @include respond(tab-port) {
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }
  }
}

.business_goals {
  position: relative;
  overflow-x: hidden;

  .about {
    position: relative;
    flex: 1;
    z-index: 10;

    .pattern-dots-lg {
      position: absolute;
      top: 0;
      transform: translate(-8rem, -6rem);
      width: 30rem;
      height: 30rem;
      color: $color-accent-dark;
      z-index: -1;

      @include respond(tab-port) {
        width: 35rem;
        height: 25rem;
        transform: translate(-2rem, -4rem);
      }

      @include respond(phone) {
        width: 25rem;
        height: 20rem;
        transform: translate(-2rem, 3rem);
      }

    }

    h3 {
      width: 100%;
      font-size: 4.2rem;
      font-weight: 900;
      margin-left: 6rem;
      margin-bottom: 0;
      color: $color-primary-dark;

      @include respond(tab-port) {
        width: 100%;
        font-size: 3.6rem;
        margin-bottom: 2rem;
      }

      @include respond(phone) {
        width: 100%;
        font-size: 3.2rem;
        margin-bottom: 1rem;
      }
    }

    &-description {
      width: 50vw;
      background: $color-accent-light;
      box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
      padding: 4rem;
      z-index: 100;

      @include respond(tab-port) {
        width: 95%;
        margin: 2rem auto;
        padding: 3.5rem;
      }

      @include respond(phone) {
        width: 100%;
        padding: 3rem 1.5rem;
        margin: .5rem auto;
      }

      h2 {
        font-size: 4rem;
        font-weight: 900;
        line-height: 1.2;

        @include respond(tab-port) {
          font-size: 3.2rem;
        }

        @include respond(phone) {
          font-size: 2.4rem;
        }

      }

      p {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.4;
        margin: 2rem 0;

        @include respond(tab-port) {
          font-size: 1.8rem;
          margin: 2rem 0;
        }

        @include respond(phone) {
          font-size: 1.8rem;
          line-height: 1.6;
          margin: 1rem 0;
        }
      }

      .btn_secondary {
        border: none;
        font-family: inherit;
        font-size: 1.4rem;
        font-weight: 700;
        background-color: $color-primary-light;
        color: $color-white;
        padding: 1.5rem 3rem;
        cursor: pointer;
        border-radius: .5rem;

        &:hover {
          background-color: $color-primary-dark;
        }

        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
  }
}

.services {
  &_heading {
    width: 35%;
    margin: 4rem auto;

    @include respond(tab-port) {
      width: 50%;
      margin: 0rem auto;
    }

    @include respond(phone) {
      width: 70%;
      margin: 1rem auto;
    }

    h1 {
      font-size: 5rem;
      font-weight: 900;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 6px dashed $color-accent-dark;
      align-self: center;

      @include respond(tab-port) {
        font-size: 3.8rem;
        border-bottom: 4px dashed $color-accent-dark;
        padding-bottom: 1rem;
      }

      @include respond(tab-port) {
        font-size: 3rem;
        border-bottom: 2px dashed $color-accent-dark;
        padding-bottom: .4rem;
      }
    }
  }

  .card {
    width: 30%;
    // height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 0;
    padding: 2rem;
    box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
    background: white;
    border-radius: 1.5rem;

    @include respond(tab-port) {
      width: 31%;
      margin: 0 auto;
      padding: 4rem 1rem;
    }

    @include respond(phone) {
      width: 94%;
      // height: 35rem;
      margin: 0rem auto 2rem auto;
      box-shadow: 0px 3px 14px -3px rgba(222, 222, 222, .7);
      padding: 4rem 2rem;
    }

    &:nth-child(2) {
      transform: translateY(6rem);

      @include respond(tab-port) {
        transform: translateY(0rem);
      }

      @include respond(phone) {
        transform: translateY(0rem);
      }
    }

    &:nth-child(3) {
      transform: translateY(12rem);

      @include respond(tab-port) {
        transform: translateY(0rem);
      }

      @include respond(phone) {
        transform: translateY(0rem);
      }
    }

    &_icon {
      height: 20%;
      margin: 0;

      img {
        width: 100%;
        object-fit: cover;
      }

      @include respond(tab-port) {
        height: 20%;
      }

      @include respond(phone) {
        height: 20%;
        margin: 1rem auto 2rem auto;
      }
    }

    h3 {
      width: 100%;
      text-align: center;
      font-weight: 900;
    }

    p {
      // flex: 1;
      line-height: 1.4;
      font-weight: 500;
      margin-top: 1rem;
      align-self: flex-start;
      text-align: center;
      font-size: 1.8rem;
    }

    .btn_tertiary {
      padding: 1rem;
      border: none;
      outline: none;
      font: inherit;
      display: flex;
      place-content: center;
      place-items: center;
      background: $color-accent-light;
      border-radius: 50%;
      margin-top: 1rem;
      cursor: pointer;

      &:hover {
        background: $color-accent-dark;
      }

      .icon {
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
      }
    }
  }
}

.team_profiles {
  .card {
    width: 23%;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
    background-color: $color-white;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
      width: 47%;
      height: 100%;
      margin: 1rem auto 2rem auto;
    }

    @include respond(phone) {
      width: 90%;
      margin: 1rem auto 2rem auto;
    }

    &_image {
      flex: 1;

      @include respond(phone) {
        flex: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &_body {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      &-title {
        margin-bottom: 0.5rem;

        h2 {
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
    }
  }
}

.mission {
  div {
    margin-top: 6rem;

    .slide-item {

      &>div:last-of-type {
        padding: 0 30px;
        .item-header  {
          margin-bottom: 24px;

          &>h3 {
            margin-top: 3rem;
            margin-bottom: 1rem;
            font-weight: 900;
            font-size: 2.4rem;
          }

          &>span {
            font-size: 1.4rem;
            font-weight: 900;
          }
        }

        p {
          line-height: 1.6;
          font-size: 1.8rem;
        }
      }

    }
  }
}

.footer {
  &_nav {
    margin: 3rem 0;

    @include respond(phone) {
      margin: 1rem 0;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      @include respond(phone) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      li {
        margin-top: 1rem;

        a {
          font-size: 1.8rem;

          @include respond(phone) {
            font-size: 1.5rem;
          }
        }


        @include respond(phone) {
          margin-top: 1.5rem;
          font-size: 1.4rem;
        }
      }
    }
  }


  &_logo {
    p {
      font-size: 4rem;
      font-family: $font-header;
      color: $color-white;
      margin-bottom: 1rem;

      @include respond(phone) {
        font-size: 2.4rem;
        margin-bottom: 0rem;
        margin-right: 1rem;
      }
    }
  }

  &_right {
    margin-top: 2rem;

    @include respond(phone) {
      margin-top: 6rem;
    }

    h1 {
      border-bottom: 4px solid $color-accent-light;
      padding-bottom: 0.8rem;
      font-size: 2.4rem;
      margin-top: 0;

      @include respond(phone) {
        font-size: 1.8rem;
        border-bottom: 2px solid $color-accent-light;
        padding-bottom: 0.4rem;
        margin-top: 3rem;
      }
    }

    .contact_details {
      margin-top: 1.5rem;

      p {
        font-size: 2rem;
        margin-top: 2.5rem;
        line-height: 1.4;

        @include respond(phone) {
          font-size: 1.6rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
          line-height: 1.6;
        }
      }
    }

    .social_links {
      display: flex;
      margin-top: 4rem;

      @include respond(phone) {
        display: flex;
        margin-top: 1rem;
      }

      .social_icon {
        img {
          margin-right: 1rem;
          width: 4rem;
          height: 4rem;

          @include respond(phone) {
            margin-right: .5rem;
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }

  .copyright {
    p {
      font-size: 1.8rem;
      line-height: 1.4;
      text-align: left;

      @include respond(phone) {
        font-size: 1.5rem;
        line-height: 1.6;
        text-align: center;
        margin-top: 1rem;
      }
    }
  }
}

.jumbotron .about {
  background-color: $color-accent-lighter !important;
}

.jumbotron {
  width: 95%;
  height: 60vh;
  margin: 8rem auto 2rem auto;
  background: $color-accent-lighter;
  border-radius: 2rem;
  display: grid;
  place-items: center;

  @include respond(tab-port) {
    height: 30vh;
    margin: 6rem auto 2rem auto;
    border-radius: 1rem;
  }

  @include respond(phone) {
    height: 20vh;
    margin: 8rem auto 2rem auto;
    border-radius: 1rem;
  }

  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-position: center;

  @include respond(phone) {
    background-image: url("data:image/svg+xml,%3Csvg width='54' height='54' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%239C92AC' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: top;
  }

  h1 {
    font-size: 6rem;
    font-family: $font-header;

    @include respond(tab-port) {
      font-size: 4.2rem;
    }

    @include respond(phone) {
      font-size: 3.2rem;
    }
  }
}

.intro {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  p {
    font-size: 2.4rem;
    text-align: center;
    width: 60%;
    line-height: 1.4;

    @include respond(tab-port) {
      font-size: 2rem;
      width: 90%;
    }

    @include respond(phone) {
      font-size: 1.8rem;
      line-height: 1.6;
      width: 90%;
    }
  }
}


.contact_section {
  &-heading {
    width: 41%;
    margin: 4rem auto .5rem auto;

    @include respond(tab-port) {
      width: 75%;
      margin: 4rem auto .5rem auto;
    }

    @include respond(phone) {
      width: 60vw;
      margin: 4rem auto .5rem auto;
    }

    h1 {
      font-size: 4.2rem;
      font-weight: 900;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 6px dashed $color-accent-dark;
      align-self: center;

      @include respond(tab-port) {
        font-size: 3.6rem;
      }

      @include respond(phone) {
        font-size: 2.4rem;
        border-bottom: 3px dashed $color-accent-dark;
        padding-bottom: .5rem;
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0rem auto 2rem auto;
    padding: 2rem;


    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 95%;
    }

    &--input {
      width: 80%;
      padding: 1rem 2rem;
      outline: none;
      background: transparent;
      border: 1px solid rgb(223, 223, 223);
      border-radius: 1rem;
      font-family: inherit;
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 3rem;
      color: white;
      position: relative;
      z-index: 10;

      @include respond(tab-port) {
        width: 90%;
        font-size: 1.6rem;
      }

      @include respond(phone) {
        width: 95%;
        font-size: 1.6rem;
        margin-top: 2rem;
      }

    }

    .btn_secondary {
      border: none;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 900;
      background-color: $color-secondary-dark;
      color: $color-white;
      padding: 1.5rem 3rem;
      cursor: pointer;
      margin-top: 2rem;
      border-radius: .5rem;

      &:hover {
        background-color: $color-secondary-dark;
      }
    }
  }
}