.header {
  &__logo {
    p {
      font-size: 4.6rem;
      font-family: $font-header;
      color: $color-primary-dark;
    }
  }

  &__nav {
    ul {
      list-style: none;
      display: flex;
    }

    &-item {
      font-size: 2rem;
      font-family: $font-text;
      font-weight: 700;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      position: relative;
      overflow: hidden;
      padding-bottom: 1rem;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: $color-accent-dark;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      &:hover:before,
      &:focus:before,
      &:active:before {
        right: 0;
      }

      &:not(:last-child) {
        margin-right: 2rem;
      }


    }
  }
}

.hero {
  &_section {
    &-content {
      width: 85%;

      h1 {
        font-size: 7rem;
        font-family: $font-text;
        font-weight: 900;
        line-height: 1;
        color: $color-primary-dark;
      }

      p {
        width: 95%;
        font-size: 2rem;
        line-height: 1.4;
        margin: 2rem 0;
      }
    }

    &-left {

      button,
      button:focus,
      button:active {
        padding: 1.5rem 5rem;
        font-family: inherit;
        font-size: 2rem;
        font-weight: 800;
        color: $color-primary-dark;
        background: $color-accent-light;
        border: none;
        outline: none;
        border-radius: .6rem;
        margin-top: 1rem;
        cursor: pointer;

        &:hover {
          background: $color-accent-dark;
        }
      }
    }

    &-right {
      .hero__image {
        width: 72rem;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}