.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  .header {
    width: 100%;
    margin: 0;
    background: $color-white;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 800;
    overflow-x: hidden;

    box-shadow: 0px 3px 5px 0px rgba(209, 209, 209, 0.57);

    @include respond(tab-port) {
      max-width: 100%;
      padding: 0 3rem;
    }

    @include respond(phone) {
    width: 100%;
      padding: 0 2rem;
    }

  }


  .hero_section {
    margin: 13rem 0;
    padding: 2rem 6rem;
    display: flex;
    justify-content: start;
    overflow-x: hidden;

    @include respond(tab-port) {
      padding: 2rem 4rem;
      margin: 10rem auto 6rem auto;
    }

    @include respond(phone) {
      padding: 1rem 2rem;
      margin: 4rem auto 10rem auto;
      display: flex;
      flex-direction: column-reverse;
    }


    &-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-right {
      width: 50%;

      @include respond(tab-port) {
        width: 50vw;
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}

.business_goals {
  width: 90%;
  padding: 8rem 6rem;
  display: flex;
  flex-wrap: nowrap;
  margin: .5rem auto 6rem auto;
  border-radius: 2rem;


  @include respond(tab-port) {
    padding: 3rem 3rem;
    flex-wrap: wrap;
    width: 95%;
    margin: .5rem auto 2rem auto;
  }

  @include respond(phone) {
    padding: 2rem 2rem;
    flex-wrap: wrap;
    width: 98%;
    margin: .5rem auto 1rem auto;
  }

}

.services {
  width: 85%;
  margin: .5rem auto 6rem auto;
  display: flex;
  flex-direction: column;
  padding: 6rem 10rem;

  @include respond(tab-port) {
    width: 100%;
    margin: .5rem auto 4rem auto;
    padding: 4rem 1rem;
  }

  @include respond(phone) {
    width: 100%;
    margin: .5rem auto 4rem auto;
    padding: 3rem 2rem;
  }

  .showcase {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 4rem;

    @include respond(tab-port) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond(phone) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.mission {
  width: 90%;
  background: $color-primary-lighter;
  padding: 12rem 2rem 2rem 2rem;
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 12rem auto 8rem auto;

  &_container {
    width: 100%;
    margin-bottom: 8rem;
  
  }

  .splide {
    width: 100%;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(209, 209, 209, 0.57);
    padding: 0rem 2rem;
    margin: 0 auto;

    @include respond(phone){
      height: 60rem;
    }
  }


  &_header {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 900;
    font-family: $font-header;

     @include respond(tab-port){
      font-size: 3rem;
    }

    @include respond(phone){
      font-size: 2.4rem;
    }
  }

  // .slide {
  //   margin-bottom: 4rem;
  //   margin-top: -8rem;
  // }


  .slide-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 !important;

    @include respond(tab-port){
      flex-direction: column;
      height: fit-content;
    }

    @include respond(phone){
      flex-direction: column;
      height: fit-content;
    }

     & > div {
      width: 50%;
      height: 100%;


       @include respond(tab-port){
        width: 100%;
        height: auto;
      }

      @include respond(phone){
        width: 100%;
        height: auto;
      }

       img {
        width: 100%;
        height: auto;
        object-fit: cover;


        @include respond(tab-port){
          width: 100%;
          height: 40rem;
          margin: 0 auto;
        }

        @include respond(phone){
          width: 100%;
          height: 20rem;
          margin: 0 auto;
        }
      }
    }
  }

  @include respond(tab-port) {
    clip-path: none;
  }

  @include respond(phone) {
    clip-path: none;
    width: 98%;
    margin: 2rem auto 6rem auto;
    padding: 2rem;
  }
}

.team {
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: 10rem auto 12rem auto;

  @include respond(tab-port) {
    height: auto;
  }

  @include respond(phone) {
    height: auto;

  }

  &_heading {
    width: 35%;
    margin: 2rem auto;

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      width: 80%;
    }

    h1 {
      font-size: 5rem;
      font-weight: 900;
      text-align: center;
      padding-bottom: 1rem;
      border-bottom: 6px dashed $color-accent-dark;
      align-self: center;

      @include respond(tab-port) {
        font-size: 3.6rem;
        border-bottom: 3px dashed $color-accent-dark;
        padding-bottom: .4rem;
      }

      @include respond(phone) {
        font-size: 4rem;
        border-bottom: 4px dashed $color-accent-dark;
        padding-bottom: .4rem;
      }
    }
  }

  .btn_secondary {
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 900;
    background-color: $color-secondary-dark;
    color: $color-white;
    padding: 1.5rem 5rem;
    align-self: center;
    margin-top: 4rem;
    border-radius: .5rem;
    cursor: pointer;

    &:hover {
      background-color: $color-secondary-dark;
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }

  &_profiles {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 2rem;

    @include respond(tab-port) {
      display: flex;
      flex-wrap: wrap;
    }

    @include respond(phone) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}


.footer {
  width: 95vw;
  background: $color-primary-dark;
  height: 70vh;
  padding: 6rem;
  border-radius: 2rem;
  margin: 8rem auto 2rem auto;
  display: flex;
  color: $color-white;
  scroll-behavior: smooth;

  @include respond(tab-port) {
    width: 95vw;
    background: $color-primary-dark;
    height: auto;
  }

  @include respond(phone) {
    width: 100%;
    background: $color-primary-dark;
    height: auto;
    padding: 2rem 1.5rem;
    flex-direction: column;
    margin: 8rem auto 0 auto;
    border-radius: .2rem;
  }

  &_left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond(phone) {
      flex: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &_right {
    width: 50%;
    margin: 1rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0rem;
      margin: 1rem 0rem;
    }
  }
}



.contact_section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-white;
  box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
  border-radius: 2rem;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 95%;
  }
}