.main {
  display: flex;
  flex-direction: column;
  padding: 0 6rem;

  .header {
    height: 10vh;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero_section {
    height: 90vh;
    margin-top: 8rem;

    display: flex;

    &-left {
      flex: 1;
    }

    &-right {
      width: 55%;

    }
  }
}