$color-primary-light: hsl(258, 73%, 9%);
$color-primary-lighter: hsl(193, 100%, 98%);
$color-primary-dark: hsl(259, 94%, 6%);


$color-secondary-light: rgb(219, 90, 90);
$color-secondary-lighter: hsl(193, 100%, 98%);
$color-secondary-dark: rgb(149, 32, 32);

$color-accent-dark: rgb(0, 44, 63);
$color-accent-light: rgb(108, 203, 243);
$color-accent-lighter: rgb(220, 245, 255);

$color-grey-light: #fefff8;
$color-grey-light-1: #aaaaaa;
$color-grey-light-2: #fbfeff;
$color-grey-dark: #23292b;

$color-white: #feffff;
$color-black: #000;

$font-header: 'Paytone One';
$font-text: 'Visby CF';
$font-color: $color-primary-light;

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 40em) {
      @content;
    }

    //600px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }

    //900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }

    //1800+
  }
}