@import "../variables";

.about_header {
  border-top: 2px solid $color-grey-light-2;
  border-left: 2px solid $color-grey-light-2;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 4.2rem;
    font-weight: 900;
    font-family: $font-header;
  }
}

.about {
  &_left {
    // padding: 4rem;
    width: 100%;
    height: 100%;

    &-image {
      width: 40rem;
      height: 40rem;
      margin-top: 1.5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_right, &_cards {
    padding: 0 4rem;
    box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);

    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-weight: 900;
      font-size: 2.4rem;
    }

    p {
      line-height: 1.6;
      font-size: 1.8rem;
    }

  }

  &_cards {
    padding: 0;

    img {
      object-fit: cover;
    }
    
    .card {
      text-align: center;

      p:first-of-type {
        margin-bottom: 1rem;
        font-weight: 900;
        font-size: 2.4rem;
      }

      &.primary {
        color: $color-white;
        background-color: $color-primary-dark;

      }

      &.accent {
        background-color: $color-accent-dark;
        color: $color-primary-dark;
      }
    }
  }
}

.experiences {
  .slide-item {
    img {
      object-fit: cover;
    }

    &>div:last-of-type {
      padding: 0 14px;
      .item-header  {
        margin-bottom: 24px;

        &>h3 {
          margin-top: 3rem;
          margin-bottom: 1rem;
          font-weight: 900;
          font-size: 2.4rem;
        }

        &>span {
          font-size: 1.4rem;
          font-weight: 900;
        }
      }

      p {
        line-height: 1.6;
        font-size: 1.8rem;
      }
    }
    
  }
}

