.about {
  &_main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 6rem auto;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      height: 82vh;
      width: 100%;
      margin: 0rem 0 8rem 0;
    }
  }

  &_mission {
    &-wrapper {
      display: flex;
      height: 70vh;
      background: $color-accent-dark;
    }
  }


  &_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > .card {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.experiences {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 4rem auto 8rem auto;

   .slide-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 !important;

    @include respond(tab-port){
      flex-direction: column;
      height: fit-content;
    }

    @include respond(phone){
      flex-direction: column;
      height: fit-content;
    }

     & > div {
      width: 50%;
      height: 100%;


       @include respond(tab-port){
        width: 100%;
        height: auto;
      }

      @include respond(phone){
        width: 100%;
        height: auto;
      }

       img {
        width: 100%;
        height: auto;
        object-fit: cover;


        @include respond(tab-port){
          width: 100%;
          height: 40rem;
          margin: 0 auto;
        }

        @include respond(phone){
          width: 100%;
          height: 20rem;
          margin: 0 auto;
        }
      }
    }
  }
}
