@import "../variables";

.services {

  &_left {
    // padding: 4rem;
    width: 100%;
    height: 100%;

    &-image {
      width: 40rem;
      height: 40rem;
      margin-top: 1.5rem;

      @include respond(tab-port) {
        width: 30rem;
        height: 30rem;
        align-self: center;
        justify-self: center;
        margin-right: 2rem;
        margin-left: 1rem;
        margin-top: 4rem;
      }

      @include respond(phone) {
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin: 0 auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_right {
    padding: 0 4rem;
    box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);

    @include respond(tab-port) {
      padding: 0 2rem;
    }

    @include respond(phone) {
      padding: 0 2rem;
      box-shadow: none;
    }

    #more {
      @include respond(phone) {
        display: none;
      }
    }

    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-weight: 900;
      font-size: 2.4rem;

      @include respond(tab-port) {
        font-size: 2rem;
        margin-top: 2rem;
      }

      @include respond(phone) {
        margin-top: 1.5rem;
        font-size: 2rem;
      }
    }

    p {
      line-height: 1.6;
      font-size: 1.8rem;

      @include respond(tab-port) {
        line-height: 1.6;
        font-size: 1.8rem;
      }

      @include respond(phone) {
        line-height: 1.5;
        font-size: 1.8rem;
      }
    }


  }


}

.feasibility_left {
  width: 45%;

  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    width: 48%;
  }

  @include respond(phone) {
    width: 100%;
    align-self: flex-start;
    padding: 2rem;
    box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
  }

  #more {
    @include respond(phone) {
      display: none;
    }
  }

  &-image {
    width: 20rem;
    height: 20rem;

    @include respond(phone) {
      align-self: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    line-height: 1.8;
    font-size: 1.8rem;
    margin-top: 2rem;

    @include respond(phone) {
      font-size: 1.8rem;
      line-height: 1.6;
    }
  }

  h2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
  }

}

.feasibility_right {
  width: 50%;
  box-shadow: 0px 3px 18px -3px rgba(222, 222, 222, 1);
  padding: 2rem 4rem;

  @include respond(tab-port) {
    padding: 2rem;
  }

  @include respond(phone) {
    width: 100%;
    padding: 2rem;
    margin: 2rem auto;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 2rem;

    @include respond(tab-port) {
      margin-bottom: 1rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;

    li {
      margin-top: 1.5rem;
      font-size: 1.8rem;

      display: flex;
      align-items: center;

      img {
        width: 3rem;
        margin-right: 2rem;
      }
    }
  }
}

.services_header {
  border-top: 2px solid $color-grey-light-2;
  border-left: 2px solid $color-grey-light-2;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include respond(phone) {
    padding: 1rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 4.2rem;
    font-weight: 900;
    font-family: $font-header;

    @include respond(phone) {
      font-size: 3rem;
      line-height: 1.1;
    }
  }
}

.read_more {
  border: none;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: $color-primary-light;
  color: $color-white;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  border-radius: .3rem;
  display: none;

  @include respond(phone) {
    display: block;
  }

  &:hover {
    background-color: $color-primary-dark;
  }

}